<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/signup.css">
    <title>Password Retrieval</title>
</head>
<body>
     <form class="form">
         <h2>Reset Password</h2>
         <label for="email">Email:</label> <br />
         <input type="text" class="email error" placeholder=`<%= email %>`  name="email" value= <%= email %> readonly> <br />
        <label for="password">Input New Password For This Email:</label> <br />
        <input type="text" placeholder="Please enter new Password"  name="password">
        <div class="password error"></div>
        <button type="submit">Submit</button>
        <div class="password_recovery"></div>
      <p>Don't have an account?</p> 
       <a href="/signup_create">Click To Signup For Free</a>
    </form>
    <script>
    const preventBack = ()=> { window.history.forward(); }  
    setTimeout("preventBack()", 0);  
    window.onunload = function () { null }; 
     const form = document.querySelector("form")
    
     form.addEventListener("submit", async (e) => {
            e.preventDefault()
     const passwordtext = document.querySelector(".password.error")
     const password = document.querySelector(".password_recovery")
     password.textConntent = ""
            passwordtext.textContent = ""
          const  passwordvalue = form.password.value; 
          const  email = form.email.value; 
            console.log(email)  
            const data = {
                password: passwordvalue,
                email: email 
            }
    try {
        const result = await fetch("password_recover", {
         method: "PUT",
         body: JSON.stringify(data),
        headers: {
        "Content-Type": "application/json"
        }
     })
     const newResult = await result.json()
     if(newResult._id){
         const {email, id } = newResult
         password.textContent = `Password reset for the Email ${email} was successful.`
         const timer = setTimeout(()=> {
          location.assign("/")
         },5000)  
     }
      if(form.email.value === ""){
        password.textContent = "input an email"
      }
        if(newResult.error2 && form.passwordtext.value !== "" ){
            password.error.textContent = newResult.error2
        }
    } catch (error) {
        console.log(error)
    } })
    </script>

</body>
</html>