<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/signup.css">
    <title>Password Recovery</title>
</head>
<body>
     <form class="form">
         <h2>Reset Password</h2>
        <label for="email">Email:</label>
        <input type="email" placeholder="Please enter your email"  name="email">
        <div class="email error"></div>
        <button type="submit">Submit</button>
        <div class="password_recovery"></div>
      <p>Don't have an account?</p> 
       <a href="/signup_create">Click To Signup For Free</a>
    </form>



    <script>
   const preventBack = ()=> { window.history.forward(); }  
    setTimeout("preventBack()", 0);  
    window.onunload = function () { null }; 
     const form = document.querySelector("form")
    
     form.addEventListener("submit", async (e) => {
            e.preventDefault()
     const emailError = document.querySelector(".email.error")
     const password = document.querySelector(".password_recovery")
            emailError.textContent = ""
            password.textContent = ""
            const email = form.email.value;   
            const data = {
                email: email,
            }
    try {
        const result = await fetch("/password_get", {
         method: "POST",
         body: JSON.stringify(data),
        headers: {
        "Content-Type": "application/json"
        }
     })
     const newResult = await result.json()
     if(newResult.id){
         const {email, id } = newResult
         password.textContent = `folow the link sent to the email ${email} to complete the process`

     }
      if(form.email.value === ""){
        emailError.textContent = "input an email"
      }
        if(newResult.error2 && form.email.value !== "" ){
        console.log(newResult.error2)
            emailError.textContent = newResult.error2
        }
    } catch (error) {
        console.log(error)
    } })
    </script>

</body>
</html>